@using System.Web.Optimization
@using BootstrapSupport
@using NavigationRoutes
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>@ViewBag.Title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="@Styles.Url("~/content/css")" rel="stylesheet"/>
	@RenderSection("head", required: false)
	@Html.Partial("_html5shiv")
	@* favicons and touch icons go here *@
</head>
<body>


	<div class="container content-wrap">
		
			@if (User.IsInRole("Admin"))
 {
		@Html.Action("_Toolbar", "parts", new { area = "admin" });
 }
		<header class="navbar navbar-fixed-top navbar-inverse">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" style="font-size: 30px; margin: 20px" href="#" title="change in _bootstrapLayout.basic.cshtml">SportTracker</a>
					<nav>
						@Html.Partial("_LoginPartial")
					</nav>
				</div>
			</div>


			<div class="navbar-inner">
				<div class="container">
					<!--<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						    <span class="icon-bar"></span>
						    <span class="icon-bar"></span>
						    <span class="icon-bar"></span>
					    </a>-->

					<nav>
						<ul class="nav nav-tabs">
							@Html.Navigation()
						</ul>
					</nav>
				</div>


			</div>
		</header>

		@Html.Partial("_alerts")
		@Html.Partial("_validationSummary")
		@RenderBody()
		<hr>
		
	</div>
	
	<footer class="footer">
			<div style="margin: 0 auto; width: 960px">
				<div class="row">
					<div class="span4 ">
						<a href="http://sporttracker.com/">SportTracker</a>
						by Artem & Alex
					</div>

					<div class="span4 ">
						&nbsp;
					</div>
					<div class="span4 ">
						<nav>
							<ul>
								<li>
									@Html.ActionLink("About","About")
								</li>
								<li>
									@Html.ActionLink("Contact Us","Contact")
								</li>

							</ul>
						</nav>
					</div>
				</div>
			</div>
		</footer>
	@Scripts.Render("~/js")
	@RenderSection("Scripts", required: false)
</body>
</html>

